/*-------------------------------------------------Nav Bar--*/
.navbar-dark .navbar-brand {
    color: yellow;
}

.navbar-dark .navbar-nav .active > .nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .show > .nav-link {
    color: yellow;
}

.navbar-dark .navbar-nav .nav-link {
    color: yellow;
}

.bg-primary {
    background-color: #085394!important;
}

/*-------------------------------------------------Progress Bar--*/

/* Hide progress bar on landing page */
.progress {
    display: none;
}

.progress-bar {
    display: block;
    background-color: #990000;
}


/*-------------------------------------------------Home--*/

.container-home {
    padding: 50px 20px 85px 20px;
    background-color: #9fc5f8;
    height: 100vh;
}

/*-------------------------------------------------Quiz--*/
.container-sm {
    padding-right: 0;
    padding-left: 0;
}

.container-quiz {
    background-color: rgb(94, 96, 97);
    padding-right: 0;
    padding-left: 0;
}

#welcome {
    color: yellow;
    text-align: center;
    margin-top: 1rem;
}

/* All aircraft image settings */
img {
    width: 100%;
    object-fit: fill;
}

/* Quiz aircraft image additional setting */
#aircraftImage {
    display:none;
}

/* Answer button settings */
.answer {
    width: 70%;
    margin-top: 10px;
    display: none;
}

/* Change colour on hover for answer buttons */
.change-color {
    background-color: #ffc107;
}

/* Change colour on hover for Next buttons */
.next-change-color {
    background-color: #990000;
}

/* Add border on hover for answer buttons */
.add-border {
    border: 2px solid black;
}

/* Next button */
#next {
    width: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.fa-check-circle {
    display: none; 
    color: green;
}

.fa-times-circle {
    display: none; 
    color: red;
}

.resultComment {
    display: none;
    color: yellow;
}

#row-score {
    display: none;
}

 #row-next {
   justify-content: flex-end;   
}

/*-------------------------------------------------Contact page--*/

#contact-form {
  color: whitesmoke;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 20px 20px 20px;
}

#sub-title {
    text-align: center;
}

.form-control {
    font-size: 0.9rem;
padding: .175rem .75rem;
}

.join-button {
    margin-top: 10px 
}

/*-------------------------------------------------Media queries--*/
/* Desktop */
@media (min-width: 992px){
.container, .container-lg, .container-md, .container-sm {
    max-width: 768px;
}

/* Ensure background colour fills screen */
.container-home {
    height: auto;
}

/* Ensure background color fills screen */
#container-contact {
    height: 100vh;
}

/* Desktop - Keep aircraft image a consistent height */
#aircraftImage {
    height: 500px;
}

/* Hide mobile rows for answer buttons */
.row-mobile {
    width: 50%;
}

#row-score {
    width: 50%;
}

#row-next {
    width: 50%;
    padding-right: 68px;
}

.row-desktop {
    justify-content: center;
}

.row-mobile {
    justify-content: center;
}

img {
    object-fit: cover;
}

#next {
     width: 35%;
}
}

@media (min-width: 768px){
/* Consistent image size */
#aircraftImage {
    height: 300px;
}
}

/* Mobile */
@media (max-width: 992px) and (min-width: 576px) {
/* centre startImage */   
#startImage {
    margin-left: 25%
}
}

@media (max-width: 992px){
/* Hide rows for answer buttons */
.answer {
width: 100%
}
}

@media (max-width: 768px){
/* Improve size for image, button text and layout */  
.row {
    font-size: 0.9rem;
}

#aircraftImage {
    height: 250px;
}
}

@media (max-width: 576px){
/* Keep aircraft image a consistent height */
#aircraftImage {
    height: 250px;
}

.row {
    font-size: 0.8rem;
}

.row-desktop {
    justify-content: center;
}

.row-mobile {
    justify-content: center;
    width: 50%
}

#row-score {
    justify-content: center;
    width: 50%;
}

#row-next {
    justify-content: flex-end;
    width: 50%;
}

#row-last {
    justify-content: flex-end;
}

.answer {
    width: 100%;
    font-size: small;
}

#next {
    width: 50%;
    font-size: small;
}
}

/* iPhone X, iPhone 6/7/8 Plus, iPhone 6/7/8 - Improve sizes for image, button text and layout */
@media (max-width: 450px){
  
.container-home {
    padding: 50px 0px 85px 0px;
}
}

/* iPhone 5 - Improve sizes for image, button text and layout */
@media (max-width: 350px){
.answer {
    font-size: 11px;
}

#next {
    font-size: 11px;
}

.navbar-brand {
    font-size: 1.1rem;
}
}

@media (max-height: 500px){
#container-contact {
    height: auto; 
}
}

/*iPhone5 landscape - ensure background colour fills screen */
@media (max-height: 375px){
.container-home {
    height: auto;
    padding: 30px 20px 85px 20px;
}
}

