/*----Nav bar --*/
.navbar-dark .navbar-brand {
  color: yellow;
}

.navbar-dark .navbar-nav .active > .nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .show > .nav-link {
  color: yellow;
}

.navbar-dark .navbar-nav .nav-link {
  color: yellow;
}

.bg-primary {
    background-color: #085394!important;
}

/*-- Progress bar --*/

/*-- Hide progress bar on landing page --*/
.progress {
    display: none;
}

.progress-bar {
    display: block;
    background-color: #990000;
}


/*-------------------------------------------------Home--*/

.container-home {
  padding: 50px 20px 85px 20px;
  background-color: #9fc5f8;
  height: 100vh;
}

/*--.row>* {
    width: auto; 
}
--*/


/*-------------------------------------------------Quiz--*/
.container-sm {
    padding-right: 0;
    padding-left: 0;
}

.container-quiz {
  /*--padding: 20px 20px 20px 20px;--*/
  background-color: rgb(94, 96, 97);
  /*--display: flex;--*/
  /*--height: 100vh;--*/
}

#welcome {
    color: yellow;
}


/* All aircraft image settings */
img {
  width: 90%;
  /*height: 300px;*/
  object-fit: fill;
}

/* Quiz aircraft image additional setting */
#aircraftImage {
    display:none;
}

/* Answer button settings */
.answer {
width: 70%;
margin-top: 10px;
display: none;
}

/* Change colour on hover for answer buttons */
.change-color {
    background-color: #ffc107;
}

/* Change colour on hover for Next buttons */
.next-change-color {
    background-color: #990000;
}

/* Add border on hover for answer buttons */
.add-border {
    border: 2px solid black;
}

#next {
    width: 35%;
    margin-top: 10px;
    margin-left: 35%;
    margin-bottom: 10px;
   /* background-color: #990000;*/
}

 /* #next-span {
  /*   color: white;
}*/

.fa-check-circle {
    display: none; 
    /*visibility:hidden;*/
    color: green;
}

/*-- .fa-check-circle-hide {
    display: none; 
    /*visibility:hidden;
    color: green;
} --*/

.fa-times-circle {
    display: none; 
    color: red;
}

.resultComment {
    display: none;
    color: yellow;
}
/*-- #answers {
  display: flex;
}--*/

/*-------------------------------------------------Media queries--*/

@media (min-width: 992px){
.container, .container-lg, .container-md, .container-sm {
    max-width: 768px;
}

/*-- Desktop - Hide mobile rows for answer buttons --*/
.row-mobile {
    display: hidden!important;
}

.row>* {
    width: 50%;
}

img {
    object-fit: cover;
}
}

.answer {
width: 100%
}

/*@media (min-width: 576px){
img {
    height: 400px
}   
}*/

/*@media (min-width: 768px){
img {
    height: 500px
}   
}*/

/*-- Mobile - Hide rows for answer buttons --*/
@media (max-width: 992px){
.row-desktop {
    display: hidden!important;
}
}


/*-- Mobile - Width below 768px Improve sizes for image, button text and layout --*/
@media (max-width: 768px){
.row {
    font-size: 0.9rem;
}
}


@media (max-width: 576px){

       .row {
    font-size: 0.8rem;
}

.answer {
    width: 100%;
    font-size: small;
}

#next {
    width: 100%;
    font-size: small;
}
}


/*-- iPhone X, iPhone 6/7/8 Plus, iPhone 6/7/8 - Improve sizes for image, button text and layout --*/
@media (max-width: 450px){
  
/*-- @media (max-width: 576px){  --*/
.container-home {
    padding: 50px 0px 85px 0px;
}

/*--   .row {
    font-size: 0.8rem;
}

.answer {
    width: 100%;
    font-size: small;
}

#next {
    width: 100%;
    font-size: small;
}
--*/
.justify-content-start {
    justify-content: flex-end!important;
}
}

/*-- iPhone 5 - Improve sizes for image, button text and layout --*/
@media (max-width: 350px){
    .answer {
    font-size: 11px;
}

#next {
    font-size: 11px;
}

.navbar-brand {
    font-size: 1.1rem;
}
}

/*-- Mobile - Height below 620px Improve sizes for image, button text and layout --*/
@media (max-height: 620px){
/*img {
    /height: 300px;
}*/

container-sm {
max-width: 540px;
margin-right: 0;
margin-left: 0;
}
}